@using HackathonProject.ViewModel
@model ConfigurationViewModel
@{
    ViewData["lacMode"] = Model.LacInfo.LacMode.Description;
    ViewData["lacName"] = Model.LacInfo.DisplayName;
    Layout = "_LayoutSimple";


}
<div class="configuration position-fixed" data-youss-test="@Model.GlobalVars.IsAutomaticMode">
    <nav class="sidebar">
        <ul>
            <a asp-controller="Dashboard">
            <li>
                <svg width="28" height="26" viewBox="0 0 53 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.75 47.6667C38.7162 47.6667 48.4166 37.9662 48.4166 26C48.4166 14.0338 38.7162 4.33334 26.75 4.33334C14.7838 4.33334 5.08331 14.0338 5.08331 26C5.08331 37.9662 14.7838 47.6667 26.75 47.6667Z" stroke="#37517E" stroke-width="4.33333" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M26.75 34.6667V26M26.75 17.3333H26.7717" stroke="#37517E" stroke-width="4.33333" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </li>
            </a>

            <li class="active-menu">
                <svg width="25" height="25" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.125 4.875C26.9263 4.875 21.125 10.6763 21.125 17.875C21.125 18.2569 21.1851 18.7736 21.2274 19.2465L7.3125 33.1598C6.55243 33.9149 5.94921 34.8129 5.53759 35.8021C5.12596 36.7913 4.91405 37.8522 4.91405 38.9236C4.91405 39.9951 5.12596 41.0559 5.53759 42.0451C5.94921 43.0343 6.55243 43.9324 7.3125 44.6875C8.06765 45.4476 8.96568 46.0508 9.95488 46.4624C10.9441 46.874 12.0049 47.086 13.0764 47.086C14.1478 47.086 15.2087 46.874 16.1979 46.4624C17.1871 46.0508 18.0851 45.4476 18.8402 44.6875L32.7535 30.7726C33.2247 30.8149 33.7447 30.875 34.125 30.875C41.3237 30.875 47.125 25.0738 47.125 17.875C47.1334 15.7804 46.6088 13.7181 45.6007 11.882L44.5851 10.0035L43.0625 11.5278L36.0539 18.4828L33.5156 15.9445L40.4706 8.9375L41.9981 7.41325L40.118 6.39763C38.2818 5.39011 36.2195 4.86615 34.125 4.875ZM34.125 8.125C34.9147 8.125 35.503 8.46625 36.205 8.63363L30.0625 14.7761L28.8925 15.9461L30.0625 17.0625L34.9375 21.9375L36.0555 23.1075L37.2222 21.9375L43.368 15.795C43.5354 16.497 43.875 17.0853 43.875 17.875C43.875 23.3513 39.6012 27.625 34.125 27.625C33.475 27.625 32.955 27.625 32.5487 27.5226L31.6875 27.2691L31.0278 27.9305L16.5539 42.4044C14.5551 44.4031 11.5976 44.4031 9.59887 42.4044L9.54687 42.3524C7.59687 40.3536 7.61312 37.4286 9.59562 35.4461L24.0695 20.9739L24.7309 20.3141L24.4741 19.4529C24.3766 19.0466 24.3734 18.5266 24.3734 17.8766C24.3734 12.4004 28.6471 8.12663 34.1234 8.12663L34.125 8.125Z" fill="#37517E" />
                </svg>
            </li>
            <li>
                <svg width="25" height="25" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M66 45.375C60.5299 45.375 55.2839 47.548 51.4159 51.4159C47.548 55.2839 45.375 60.5299 45.375 66C45.375 71.4701 47.548 76.7161 51.4159 80.5841C55.2839 84.452 60.5299 86.625 66 86.625C71.4701 86.625 76.7161 84.452 80.5841 80.5841C84.452 76.7161 86.625 71.4701 86.625 66C86.625 60.5299 84.452 55.2839 80.5841 51.4159C76.7161 47.548 71.4701 45.375 66 45.375ZM53.625 66C53.625 62.7179 54.9288 59.5703 57.2496 57.2496C59.5703 54.9288 62.7179 53.625 66 53.625C69.2821 53.625 72.4297 54.9288 74.7504 57.2496C77.0712 59.5703 78.375 62.7179 78.375 66C78.375 69.2821 77.0712 72.4297 74.7504 74.7504C72.4297 77.0712 69.2821 78.375 66 78.375C62.7179 78.375 59.5703 77.0712 57.2496 74.7504C54.9288 72.4297 53.625 69.2821 53.625 66Z" fill="#37517E" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M65.8625 6.875C63.415 6.875 61.3745 6.875 59.7025 6.985C57.9932 7.05384 56.3072 7.40701 54.714 8.03C52.8784 8.78949 51.2103 9.90315 49.8052 11.3074C48.4 12.7116 47.2852 14.3789 46.5245 16.214C45.727 18.139 45.5125 20.174 45.4245 22.385C45.4147 23.1934 45.2002 23.9861 44.801 24.6892C44.4019 25.3923 43.8311 25.9827 43.142 26.4055C42.4315 26.7923 41.6346 26.9926 40.8257 26.9878C40.0168 26.983 39.2223 26.7732 38.5165 26.378C36.5585 25.344 34.6885 24.5135 32.6205 24.2385C30.6512 23.9795 28.6502 24.1109 26.7316 24.6252C24.8131 25.1395 23.0147 26.0266 21.439 27.236C20.1047 28.3056 18.9578 29.59 18.0455 31.0365C17.1105 32.4335 16.0875 34.199 14.8665 36.3165L14.729 36.5585C13.5025 38.676 12.485 40.4415 11.748 41.9485C10.978 43.5215 10.373 45.0725 10.153 46.7885C9.6283 50.7649 10.7045 54.787 13.145 57.97C14.4155 59.6255 16.071 60.83 17.941 62.007C18.6375 62.42 19.2178 63.0029 19.6276 63.7013C20.0373 64.3996 20.2632 65.1906 20.284 66C20.2632 66.8094 20.0373 67.6004 19.6276 68.2987C19.2178 68.9971 18.6375 69.58 17.941 69.993C16.071 71.17 14.421 72.3745 13.145 74.03C11.9356 75.6057 11.0485 77.4041 10.5342 79.3226C10.0199 81.2411 9.88846 83.2422 10.1475 85.2115C10.373 86.9275 10.9725 88.4785 11.7425 90.0515C12.485 91.5585 13.5025 93.324 14.729 95.4415L14.8665 95.6835C16.0875 97.801 17.1105 99.5665 18.0455 100.963C19.019 102.41 20.064 103.713 21.439 104.758C23.0142 105.969 24.8125 106.857 26.731 107.372C28.6496 107.887 30.6508 108.02 32.6205 107.761C34.6885 107.486 36.5585 106.661 38.5165 105.622C39.2216 105.228 40.0151 105.019 40.823 105.014C41.6308 105.009 42.4267 105.209 43.1365 105.594C43.8312 106.012 44.407 106.601 44.8086 107.305C45.2103 108.009 45.4242 108.804 45.43 109.615C45.5125 111.826 45.727 113.861 46.53 115.786C47.2895 117.622 48.4032 119.29 49.8074 120.695C51.2116 122.1 52.8789 123.215 54.714 123.975C56.309 124.635 57.959 124.894 59.7025 125.009C61.3745 125.125 63.415 125.125 65.8625 125.125H66.1375C68.585 125.125 70.6255 125.125 72.2975 125.015C74.0465 124.894 75.691 124.635 77.286 123.97C79.1216 123.211 80.7897 122.097 82.1948 120.693C83.6 119.288 84.7148 117.621 85.4755 115.786C86.273 113.861 86.4875 111.826 86.5755 109.615C86.5844 108.806 86.7985 108.012 87.1976 107.308C87.5968 106.604 88.1681 106.012 88.858 105.589C89.5689 105.203 90.3661 105.004 91.175 105.009C91.9839 105.015 92.7781 105.226 93.4835 105.622C95.4415 106.656 97.3115 107.486 99.3795 107.756C103.356 108.281 107.378 107.204 110.561 104.764C111.936 103.708 112.981 102.41 113.954 100.963C114.889 99.5665 115.913 97.801 117.134 95.6835L117.271 95.4415C118.498 93.324 119.515 91.5585 120.252 90.0515C121.022 88.4785 121.627 86.922 121.847 85.2115C122.372 81.235 121.295 77.213 118.855 74.03C117.585 72.3745 115.929 71.17 114.059 69.993C113.363 69.58 112.782 68.9971 112.372 68.2987C111.963 67.6004 111.737 66.8094 111.716 66C111.716 64.471 112.552 62.953 114.059 62.007C115.929 60.83 117.579 59.6255 118.855 57.97C120.064 56.3943 120.952 54.5959 121.466 52.6774C121.98 50.7588 122.112 48.7578 121.853 46.7885C121.593 45.0978 121.054 43.4621 120.257 41.9485C119.318 40.1213 118.322 38.3237 117.271 36.5585L117.134 36.3165C116.129 34.5239 115.069 32.7631 113.954 31.0365C113.042 29.592 111.895 28.3095 110.561 27.2415C108.986 26.0312 107.187 25.143 105.269 24.6278C103.35 24.1125 101.349 23.9802 99.3795 24.2385C97.3115 24.5135 95.4415 25.3385 93.4835 26.378C92.7784 26.7722 91.9849 26.9815 91.177 26.9863C90.3692 26.9911 89.5733 26.7913 88.8635 26.4055C88.1723 25.9841 87.5994 25.3942 87.1983 24.691C86.7972 23.9879 86.581 23.1944 86.57 22.385C86.4875 20.174 86.273 18.139 85.47 16.214C84.7105 14.3784 83.5968 12.7103 82.1926 11.3052C80.7884 9.90001 79.1211 8.78523 77.286 8.0245C75.691 7.3645 74.041 7.106 72.2975 6.9905C70.6255 6.875 68.585 6.875 66.1375 6.875H65.8625ZM57.871 15.6475C58.2945 15.4715 58.938 15.312 60.2635 15.2185C61.622 15.125 63.382 15.125 66 15.125C68.618 15.125 70.378 15.125 71.7365 15.2185C73.062 15.312 73.7055 15.4715 74.129 15.6475C75.8175 16.346 77.154 17.6825 77.8525 19.371C78.0725 19.899 78.254 20.7295 78.3255 22.693C78.4905 27.049 80.74 31.2455 84.733 33.55C88.726 35.8545 93.4835 35.706 97.339 33.671C99.077 32.7525 99.8855 32.494 100.457 32.4225C102.265 32.1837 104.093 32.6724 105.539 33.781C105.902 34.0615 106.365 34.54 107.107 35.64C107.872 36.773 108.751 38.2965 110.06 40.5625C111.369 42.8285 112.244 44.3575 112.843 45.5785C113.432 46.772 113.613 47.41 113.668 47.8665C113.907 49.6736 113.419 51.5016 112.31 52.9485C111.958 53.405 111.331 53.977 109.67 55.022C105.974 57.343 103.466 61.391 103.466 66C103.466 70.609 105.974 74.657 109.67 76.978C111.331 78.023 111.958 78.595 112.31 79.0515C113.421 80.498 113.905 82.324 113.668 84.1335C113.613 84.59 113.426 85.2335 112.843 86.4215C112.244 87.648 111.369 89.1715 110.06 91.4375C108.751 93.7035 107.866 95.227 107.107 96.36C106.365 97.46 105.902 97.9385 105.539 98.219C104.093 99.3276 102.265 99.8163 100.457 99.5775C99.8855 99.506 99.0825 99.2475 97.339 98.329C93.489 96.294 88.726 96.14 84.733 98.4445C80.74 100.749 78.4905 104.951 78.3255 109.307C78.254 111.27 78.0725 112.101 77.8525 112.629C77.507 113.464 77.0003 114.222 76.3614 114.861C75.7225 115.5 74.9639 116.007 74.129 116.352C73.7055 116.528 73.062 116.688 71.7365 116.781C70.378 116.875 68.618 116.875 66 116.875C63.382 116.875 61.622 116.875 60.2635 116.781C58.938 116.688 58.2945 116.528 57.871 116.352C57.0361 116.007 56.2775 115.5 55.6386 114.861C54.9997 114.222 54.493 113.464 54.1475 112.629C53.9275 112.101 53.746 111.27 53.6745 109.307C53.5095 104.951 51.26 100.754 47.267 98.45C43.274 96.1455 38.5165 96.294 34.661 98.329C32.923 99.2475 32.1145 99.506 31.5425 99.5775C29.7354 99.8163 27.9074 99.3276 26.4605 98.219C26.0975 97.9385 25.6355 97.46 24.893 96.36C23.8583 94.7498 22.8734 93.1082 21.9395 91.4375C20.6305 89.1715 19.756 87.6425 19.1565 86.4215C18.568 85.228 18.3865 84.59 18.3315 84.1335C18.0927 82.3264 18.5814 80.4984 19.69 79.0515C20.042 78.595 20.669 78.023 22.33 76.978C26.026 74.657 28.534 70.609 28.534 66C28.534 61.391 26.026 57.343 22.33 55.022C20.669 53.977 20.042 53.405 19.69 52.9485C18.5814 51.5016 18.0927 49.6736 18.3315 47.8665C18.3865 47.41 18.5735 46.7665 19.1565 45.5785C19.756 44.352 20.6305 42.8285 21.9395 40.5625C23.2485 38.2965 24.134 36.773 24.893 35.64C25.6355 34.54 26.0975 34.0615 26.4605 33.781C27.9074 32.6724 29.7354 32.1837 31.5425 32.4225C32.1145 32.494 32.9175 32.7525 34.661 33.671C38.511 35.706 43.274 35.86 47.267 33.55C51.26 31.2455 53.5095 27.049 53.6745 22.693C53.746 20.7295 53.9275 19.899 54.1475 19.371C54.846 17.6825 56.1825 16.346 57.871 15.6475Z" fill="#37517E" />
                </svg>
            </li>
            <li>
                <svg width="25" height="25" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.8333 45.5H21.6667L23.8333 30.3333H16.25C14.3433 30.3333 15.535 28.7083 15.5783 28.6433C18.3733 23.7033 22.5767 16.3367 28.1883 6.5H30.355L28.1883 21.6667H35.7933C36.66 21.6667 37.1367 22.0783 36.66 23.0967C28.1017 38.025 23.8333 45.5 23.8333 45.5Z" fill="#37517E" />
                </svg>
            </li>
            <li class="position-absolute logout">
                <svg width="25" height="25" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M93.5 44L85.745 51.755L94.435 60.5H49.5V71.5H94.435L85.745 80.19L93.5 88L115.5 66L93.5 44ZM27.5 27.5H66V16.5H27.5C21.45 16.5 16.5 21.45 16.5 27.5V104.5C16.5 110.55 21.45 115.5 27.5 115.5H66V104.5H27.5V27.5Z" fill="#37517E" />
                </svg>
            </li>
        </ul>
    </nav>
    <nav class="sidebar ms-1 shadow-none mt-1 d-flex flex-column">
           <button class="border-1 border-warning border ps-4 pe-5 py-1">LAC01</button>
            <button class="border-0 ps-4 py-1 pe-5">LAC02</button>
    </nav>
    <main class="col-10">
        <div class="row">
            <div class="left-container col-12 d-flex flex-column">
               <div class="container">
                   <div class="sub-container">
                        <div class=" border-light youss-card youss-click" data-youss-arc="1" data-youss-on="off">
                            <div class="card-body ">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0111</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="2" data-youss-on="on">
                            <div class="card-body ">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="3" data-youss-on="off">
                            <div class="card-body ">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_3" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_3" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_3" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="4" data-youss-on="off">
                            <div class="card-body ">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_4" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_4" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_4" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card  youss-click" data-youss-arc="5" data-youss-on="off">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_5" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_5" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_5" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card  youss-click" data-youss-on="off">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_4_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_4_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_4_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="  youss-card youss-click" data-youss-on="off">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_4_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_4_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_4_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-on="off">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_6_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_6_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;" ></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_6_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_6_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_6_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_6_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_6_3" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_6_3" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_6_3" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_7" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_7" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_7" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_8" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_8" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_8" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_9" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_9" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_9" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_10" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_10" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_10" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_11" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_11" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_11" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_12" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_12" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur Top</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_12_Top" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur Bottom </div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_12_Bottom" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur Noovertemperature</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_12_NoOverTemperature" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_13_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_13_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_13_1" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_13_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_13_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_13_2" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_14" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_14" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_14" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_15" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_15" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_15" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" border-light youss-card youss-click" data-youss-arc="1">
                            <div class="card-body">
                                <div style="display:flex; justify-content:space-between;">
                                    <h5 class="card-title">ARC0110</h5>
                                    <div class="d-flex justify-content-between youss-light">
                                        <div>
                                            <svg width="40" height="40" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M60.5 115.5H55L60.5 77H41.25C36.41 77 39.435 72.875 39.545 72.71C46.64 60.17 57.31 41.47 71.555 16.5H77.055L71.555 55H90.86C93.06 55 94.27 56.045 93.06 58.63C71.335 96.525 60.5 115.5 60.5 115.5Z" fill="#f6a823" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col">
                                        <div>Controlleur</div>
                                        <div class="youss-controler" data-youss-controler="@Model.GlobalVars.Controller_16" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Moteur </div>
                                        <div class="youss-moteur" data-youss-moteur="@Model.GlobalVars.moteur_16" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur Top</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_16_Top" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur Bottom </div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_16_Bottom" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                    <div class="col">
                                        <div>Capteur Noovertemperature</div>
                                        <div class="youss-capteur" data-youss-capteur="@Model.GlobalVars.capter_16_NoOverTemperature" style="width:20px;height:20px;border-radius: 50px;background-color:red;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
               <div class="container youss-img mx-2 d-none">
                    <h3 class="youss-arc-title">ARC01101</h3>
                   <img class="youss-true-img w-75" src="~/assets/img/ARC_default.png"/>
               </div>
            </div>
            <form id="formulaire" class="form col-3">
                <h4 class="text-center">Manual actions</h4>
                <div class="d-flex flex-row gap-1 mt-3"    >
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 mt-3"    >
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 mt-3">
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 mt-3">
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 mt-3">
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 mt-3"    >
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 mt-3">
                    <div class="arc">
                        ARC0110
                    </div>
                    <div class="arc-action">
                        Forward
                    </div>
                </div>
                <div class="arc-action mt-5 w-100">
                    Forward All
                </div>
                <div class="arc-action mt-2 w-100 bg-secondary">
                    Close
                </div>
            </form>
        </div>
    </main> 
</div>